.App {
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #EAEAEA;
  min-height: 100vh;
}

h1 {
  color: #3d3d3d;
  margin-top: 20px;
}

.logo {
  margin-top: 20px;
  width: 150px;
  height: auto;
}

.grid {
  display: grid;
  grid-template-rows: repeat(5, 80px);
  grid-template-columns: repeat(5, 80px);
  gap: 5px;
  margin: 20px auto;
  border: 2px solid #ddd;
  width: fit-content;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.row {
  display: contents;
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  font-size: 24px;
}

.robot {
  background-color: #ff7043;
  color: white;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  display: inline-flex;
  padding: 10px 20px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #ff7043;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  font-size: 14px;
  border: none;
}

button:hover {
  background-color: #f4511e;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

button:focus {
  outline: none;
}

.move-forward {
  margin: 0 40px;
}